<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if(locals.id) { %>
        <p>URL Generated: http://localhost:4001/url/<%= id %></p>
    <% } %>
    <div>
        <form action="/url" method="POST">
            <label>Enter your original url</label>
            <input type="text" name="redirectUrl" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <div>
        <% if(locals.urls){ %>
            <table>
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Short Id</th>
                        <th>Redirect Url</th>
                        <th>Clicks</th>
                    </tr>
                    
                </thead>`
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectUrl %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>